.container {
    max-width: 900px;
    margin: auto;
  
    h3 {
      color: #2c3e50;
      font-weight: bold;
    }
  
    table {
      font-size: 0.95rem;
    }
  
    .btn {
      padding: 0.25rem 0.5rem;
    }
  }
  