<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown placement="bottom-right">
      <a ngbDropdownToggle href="javascript:"><i class="icon feather icon-bell"></i></a>
      <div ngbDropdownMenu class="dropdown-menu notification">
        <div class="notification-head">
          <h6 class="m-0">Notifications</h6>
        </div>
        <ul class="notification-body">
          <li class="notification">
            <div class="d-flex">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Avatar" />
              <div>
                <p><strong>John Doe</strong></p>
                <p>New ticket added</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="notification-footer">
          <a href="javascript:">Show all</a>
        </div>
      </div>
    </div>
  </li>
</ul>