<header>
  <div class="m-header" [style.display]="headerStyle">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:" (click)="toggleMobOption()"><span></span></a>
    <a [routerLink]="['/dashboard/default']" class="b-brand">
      <div class="b-bg">
        <i class="feather icon-trending-up"></i>
      </div>
      <span class="b-title">Datta Able</span>
    </a>
    <ul class="pc-navbar">
      <li class="pc-item pc-caption"><label>ARTICLE</label></li>
      ...
    </ul>
    
  </div>
  <a class="mobile-menu" [ngClass]="{ on: menuClass }" id="mobile-header" href="javascript:" (click)="toggleMobOption()">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse px-4" [style.display]="collapseStyle">
    <app-nav-left class="me-auto" [style.display]="headerStyle"></app-nav-left>
    <app-nav-right class="ms-auto"></app-nav-right>
  </div>
</header>
<div class="pc-menu-overlay" (click)="closeMenu()" tabindex="0"></div>