<app-navigation
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapse)="toggleNavCollapsed()"
  (NavCollapsedMob)="navMobClick()"
></app-navigation>

<app-nav-bar
  class="navbar pcoded-header navbar-expand-lg navbar-light"
  (NavCollapsedMob)="navMobClick()"
></app-nav-bar>

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  class="pc-menu-overlay"
  (click)="closeMenu()"
  (keydown)="handleKeyDown($event)"
  tabindex="0"
></div>

<app-configuration></app-configuration>
