<ul class="nav pcoded-inner-navbar">
  <li class="nav-item pcoded-menu-caption">
    <label class="nav-label">Tissu</label>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/entree-tissu" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-in"></i></span><span class="pcoded-mtext">Entrée</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/sortie-tissu" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Sortie</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/etat-stock-tissu" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Etat Actuel</span></a>
  </li>

  <li class="nav-item pcoded-menu-caption">
    <label class="nav-label">Fourniture</label>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/entree-fourniture" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-in"></i></span><span class="pcoded-mtext">Entrée</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/sortie-fourniture" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Sortie</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/etat-stock-fourniture" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Etat Actuel</span></a>
  </li>

  <li class="nav-item pcoded-menu-caption">
    <label class="nav-label">Divers</label>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/entree-divers" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-in"></i></span><span class="pcoded-mtext">Entrée</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/sortie-divers" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Sortie</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/stock/etat-stock-divers" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Etat Actuel</span></a>
  </li>
</ul>