<nav *ngIf="!isLoginPage()">
  <ul class="pcoded-item pcoded-left-item">
    <ng-container *ngFor="let item of navItems">
      <ng-container *ngIf="shouldDisplay(item)">
        <li>
          <!-- Titre -->
          <ng-container *ngIf="item.title">
            <div class="nav-title">{{ item.name }}</div>
          </ng-container>

          <!-- Lien ou logout -->
          <ng-container *ngIf="!item.title">
            <a *ngIf="item.url; else logoutTpl" [routerLink]="item.url">
              <i class="{{ item.icon }}"></i>
              <span>{{ item.name }}</span>
            </a>

            <ng-template #logoutTpl>
              <a (click)="logout()" style="cursor: pointer;">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.name }}</span>
              </a>
            </ng-template>
          </ng-container>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nav>
